
  .back-button {
    padding: 0.75rem 1.5rem;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #222222;
  }
  
  .acknowledgement-button {
    margin-top: 2rem;
  }